#locales
  %h3
    List of Locales

  %table.datatable
    %thead
      %tr
        %th
          Locale Code
        %th
          Locale Name
        %th

    - @locales.each do |locale|
      %tr
        %td
          = link_to locale, edit_locale_path(:id => locale)
        %td
          = DynamicCopy.locale_names[locale]
        %td
          - if locale != I18n.default_locale.to_s
            = link_to 'Delete', locale_path(:id => locale), :method => :delete, :confirm => "All translations for this locale will be deleted, Are you sure?"
          - else
            default locale

  %p
    = link_to 'Create New Locale', new_locale_path
