#translation
  %p
    Click on the locale name below to display translations in that locale

  #available_locales
    - @locales.each do |locale|
      %span
        - if locale == @locale
          = DynamicCopy.locale_names[locale]
        - else
          = link_to DynamicCopy.locale_names[locale], translations_path(:locale => locale)

  %h3
    List of Translations

  %table.datatable
    %thead
      %tr
        %th
          Key
        %th
          Value

    - @keys.each do |key|
      %tr
        %td
          = link_to key, edit_translation_path(:id => key, :locale => @locale), :class => 'edit_translation'
        %td
          = DynamicCopy.locale_value(@locale, key)
