/*
 *= require_self
 *= require_tree .
*/

html, body, ul, li {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.dynamic_copy .notice {
  margin: 10px 0px;
  color: green;
}

.dynamic_copy a {
  color: blue;
  text-decoration: none;
}

.dynamic_copy a:hover {
  text-decoration: underline;
}

.dynamic_copy a {
  text-decoration: none;
}

.dynamic_copy .nav {
  background-color: #2C2C2C;
  padding: 20px 0px;
}

.dynamic_copy .nav a {
  color: #fff;
}

.dynamic_copy .nav ul {
  list-style-type: none;
}

.dynamic_copy .nav ul li {
  border-right: 1px solid #fff;
  padding: 10px 20px 10px 20px;
  display: inline;
}

.dynamic_copy .nav ul li:first-child {
  border-left: 1px solid #fff;
}

.dynamic_copy .wrapper {
  width: 940px;
  margin: 0 auto 0 auto;
}

.dynamic_copy .datatable {
  border: 1px solid #000;
  border-collapse: collapse;
}

.dynamic_copy .datatable td, .dynamic_copy .datatable th {
  border: 1px solid #000;
  padding: 5px 10px;
}

.dynamic_copy .datatable th {
  background-color: #bcbcbc;
  font-weight: bold;
}

.dynamic_copy .datatable tr:nth-child(even) {
  background-color: #dfe7f2;
  color: #000000;
}

.dynamic_copy .datatable tr:hover {
  background-color: #99FFFF;
  color: #000;
}
